@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin lg($count) {
	width: $count * $grid-c + ($count - 1) * $grid-s;
}
