// measurements
$x1: 5px;
$x2: 10px;
$x3: 15px;
$x4: 20px;
$x5: 25px;

// grids
$grid-c: 72px;
$grid-s: 26px;

// colors
$color-white: #FFFFFF;
$color-gray-1: #F6F7F8;
$color-gray-2: #D2E1E8;
$color-black: #1D1D1D;

$color-green: green;
$color-red: red;
$color-blue-1: blue;
